extends layout

block content
  head
    title= title
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE-edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='/happy-8293/us-central1/app/stylesheets/css/editRecords.css')
  body(id="main")
    script.
      //ReturnPost();  //- Used to debug query for database
    .container
      form.edit-form(action="./editrecord" method="GET")
        input(type='text' name='InsuranceName' placeholder='Enter Insurance Name...')
        select(name='InsuranceType')
            option(value="Minimal Coverage") Minimal Coverage
            option(value="Partial Coverage") Partial Coverage
            option(value="Full Coverage") Full Coverage 
        input(type='number' name='Deductible' placeholder='Enter Deductible...')
        input(type='number' name='LandValue' placeholder='Enter LandValue...')
        input(type='text' name='PropertyName' placeholder='Enter Name...')
        button.btn(type='submit') commit changes