html 
    head 
        link(rel='stylesheet', href='./stylesheets/css/login.css')
    .container
    .form
        form.login-form(action="./login" method="POST")
            input(type='text' name='username' placeholder='Username')
            input(type='text' name='password' placeholder='Password')
            button.btn(type='submit') Login
            p.message
            | Already registered?
            a(href='#')  Sign in
        form.register-form(action="/login" method="POST")
            input(type='text' name='email' placeholder='Email')
            input(type='text' name='password' placeholder='Password')
            button.btn(type='submit') Submit
        p.message
            | New User? 
            a(href='#') Create an account
    